<div class="container"> 
  <div class="row mt-3">
    <div class = 'col-7'>
      <table class="table ">
        <thead>
          <tr>
            <th class="table-dark">ID</th>
            <th class="table-dark">Marca</th>
            <th class="table-dark">Linea</th>
            <th class="table-dark">Modelo</th>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars">
            <td class ="bold-text">{{car.id}}</td>
            <td>{{car.marca}}</td>
            <td>{{car.linea}}</td>
            <td>{{car.modelo}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-12">
          <p class="">Total Renault: {{getTotals('Renault')}}</p>
          <p class="">Total Chevrolet: {{getTotals('Chevrolet')}}</p>
          <p class="">Total Nissan: {{getTotals('Nissan')}}</p>
        </div>
      </div>
    </div>
    <div class = 'col-5'></div>
  </div>

</div>
